<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Edit Address</h1>
<div mat-dialog-content class="input-container">

    <div class="d-flex address-head">
        <mat-form-field appearance="outline" class="mr-16 full-width">
            <mat-label>Street</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 20%;">
            <mat-label>Nr.</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.streetNo" matInput placeholder="Nr.">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip Code">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
        </mat-form-field>
    </div>


</div>
<div mat-dialog-actions>
    <button [disabled]="loading" mat-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button [disabled]="loading" mat-button (click)="saveEditUserAddress()" cdkFocusInitial>Save</button>
</div>